html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-page {
  height: 10vh;
  width: 100%;
  background-color: #0f2b5e;
  color: #fff;
  display: flex;
  align-items: center;
}

.footer-page {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
  color: #fff;
  background-color: rgb(13, 3, 58);
}

.main-page {
  height: 95vh;
  width: 100%;
  padding: 0 10vw;
  background-color: rgba(238, 238, 238, 0.671);
}



.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
